<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>normal</key>
	<dict>
		<key>borderWidth</key>
		<integer>1</integer>
		<key>cornerRadius</key>
		<integer>3</integer>
		<key>borderColor</key>
		<integer>0</integer>
		<key>textColor</key>
		<integer>0xFF000000</integer>
		<key>colors</key>
		<array>
			<integer>0xFFFFFFFF</integer>
			<integer>0xFFD3D3D3</integer>
		</array>
		<key>locations</key>
		<array>
			<string>0.0</string>
			<string>1.0</string>
		</array>
		<key>startPoint</key>
		<array>
			<real>0.5</real>
			<integer>0</integer>
		</array>
		<key>endPoint</key>
		<array>
			<real>0.5</real>
			<real>1</real>
		</array>
	</dict>
	<key>highlighted</key>
	<dict>
		<key>borderWidth</key>
		<integer>0</integer>
		<key>cornerRadius</key>
		<integer>3</integer>
		<key>borderColor</key>
		<integer>0xFF808080</integer>
		<key>textColor</key>
		<integer>0xFF2e8b57</integer>
		<key>colors</key>
		<array>
			<integer>0xFFFFFFFF</integer>
			<integer>0xFFD3D3D3</integer>
		</array>
		<key>locations</key>
		<array>
			<real>0.1</real>
			<real>0.5</real>
		</array>
		<key>startPoint</key>
		<array>
			<real>0.5</real>
			<integer>0</integer>
		</array>
		<key>endPoint</key>
		<array>
			<real>0.5</real>
			<real>1</real>
		</array>
	</dict>
	<key>disabled</key>
	<dict>
		<key>borderWidth</key>
		<integer>1</integer>
		<key>cornerRadius</key>
		<integer>3</integer>
		<key>borderColor</key>
		<integer>0xFF999999</integer>
		<key>textColor</key>
		<integer>0xFF808080</integer>
		<key>colors</key>
		<array>
			<integer>0xFFFFFFFF</integer>
			<integer>0xFFD3D3D3</integer>
		</array>
		<key>locations</key>
		<array>
			<real>0.02</real>
			<real>0.3</real>
		</array>
		<key>startPoint</key>
		<array>
			<real>0.5</real>
			<integer>0</integer>
		</array>
		<key>endPoint</key>
		<array>
			<real>0.5</real>
			<real>1</real>
		</array>
	</dict>
	<key>shadow</key>
	<dict>
		<key>enable</key>
		<false/>
		<key>shadowOffset</key>
		<array>
			<real>0</real>
			<real>2</real>
		</array>
		<key>shadowOpacity</key>
		<real>1.5</real>
		<key>shadowColor</key>
		<integer>0xFF000000</integer>
		<key>shadowRadius</key>
		<real>2.5</real>
		<key>anchorPoint</key>
		<array>
			<real>0.5</real>
			<real>0.5</real>
		</array>
	</dict>
</dict>
</plist>
