<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>normal</key>
        <dict>
            <key>borderWidth</key>
            <integer>1</integer>
            <key>cornerRadius</key>
            <integer>3</integer>
            <key>borderColor</key>
            <integer>0</integer>
            <key>textColor</key>
            <integer>0</integer>
            <key>colors</key>
            <array>
                <integer>0x0000FF</integer>
                <integer>0x00FFFF</integer>
            </array>
            <key>locations</key>
            <array>
                <string>0.1</string>
                <string>0.7</string>
            </array>
            <key>startPoint</key>
            <array/>
            <key>endPoint</key>
            <array/>
        </dict>
        <key>highlighted</key>
        <dict>
            <key>borderWidth</key>
            <integer>1</integer>
            <key>cornerRadius</key>
            <integer>3</integer>
            <key>borderColor</key>
            <integer>8421504</integer>
            <key>textColor</key>
            <integer>3050327</integer>
            <key>colors</key>
            <array>
                <integer>0xFF0000</integer>
                <integer>0xFFFF00</integer>
            </array>
            <key>locations</key>
            <array>
                <real>0.1</real>
                <real>0.5</real>
            </array>
            <key>startPoint</key>
            <array/>
            <key>endPoint</key>
            <array/>
        </dict>
        <key>disabled</key>
        <dict>
            <key>borderWidth</key>
            <integer>1</integer>
            <key>cornerRadius</key>
            <integer>3</integer>
            <key>borderColor</key>
            <integer>10066329</integer>
            <key>textColor</key>
            <integer>8421504</integer>
            <key>colors</key>
            <array>
                <integer>16777215</integer>
                <integer>13882323</integer>
            </array>
            <key>locations</key>
            <array>
                <real>0.02</real>
                <real>0.3</real>
            </array>
            <key>startPoint</key>
            <array/>
            <key>endPoint</key>
            <array/>
        </dict>
        <key>shadow</key>
        <dict>
            <key>enable</key>
            <true/>
            <key>shadowOffset</key>
            <array>
                <real>0</real>
                <real>2</real>
            </array>
            <key>shadowOpacity</key>
            <real>1.5</real>
            <key>shadowColor</key>
            <integer>0</integer>
            <key>shadowRadius</key>
            <real>2.5</real>
            <key>anchorPoint</key>
            <array>
                <real>0.5</real>
                <real>0.5</real>
            </array>
        </dict>
    </dict>
</plist>
